*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100%;
}
.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3vw;
    border-bottom: 2px solid #dadada;
}
.nav-part2{
    display: flex;
    gap: 4vw;
}
.nav h2{
    font-size: 2vw;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 700;
}
.nav a{
    font-size: 1vw;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 600;
}
.nav i{
    font-size: 1.3vw;
    font-weight: 500;
    display: none;
}
.container{
    height: 603px;
    width: 100%;
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
    padding: 6vh 12vh;
}
.left h1{
    font-size: 3vw;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 800;
}
.left span{
    color:orangered;
}
.left p{
    padding-right: 7.2vw;
    font-size: 1vw;
    margin-top: 2vw;
    font-weight: 500;
    font-family: 'Gill Sans', sans-serif;
}
.left button{
    width: 8vw;
    height: 3.5vw;
    border-radius: 4vw;
    font-weight: 700;
    font-family: 'Gill Sans', sans-serif;
    background-color:  orangered;
    margin-top: 2vw;
    color: white;
    transition: all ease 0.4s;
}
.left button:hover{
    color: black;
    background-color: #fff;
}

.right{
    height: 100%;
    width: 50%;
    background:url(./image.png) no-repeat center center/cover;
    object-fit: cover;
    object-position: center;
}
button{
    width: 100px;
    height: 80px;
    background-color: blue;;
}
@media screen and (max-width:600px) {
    .nav{
        background-color: lightseagreen;
        color: #fff;
        padding: 0 5vw;
        height: 60px;
    }
    .nav h2{
        font-size: 6vw;
    }
    .nav a{
        display: none;
    }
    .nav i{
        display: block;
        font-size: 5vw;
    }
    .container{
        display: block;
    }
    .left{
        padding: 6vh 6vh;
        width: 100%;
        height: 50%;
    }
    .left h1{
        font-size: 5vh;
        line-height: 6.5vh;
        font-stretch: expanded;
    }
    .left p{
        font-size:2.5vw ;
        margin-top: 4vw;
    }
    .left button{
        width: 12vw;
        height: 6vw;
        margin-top: 4vw;
        font-size: 1vw;
    }
    .left button:hover{
        color: black;
        background-color: #fff;
    }
    .right{
        width: 100%;
        height: 50%;
    }
}